<!DOCTYPE html>
<html lang="el">

<head>
	{% load static %}
	<title>Book Community</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google" content="notranslate" />
	<link rel="stylesheet" href="{% static 'style/landing.css' %}" />
	<meta name="application-name" content="Book community" />
	<link rel="canonical" href="https://book-community.com/" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script defer data-domain="book-community.com" src="https://analytics.giannistolou.gr/js/script.js"></script>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="{% static '/favicons/favicon-32x32.png' %}"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="{% static '/favicons/favicon-16x16.png' %}"
/>
<link rel="manifest" href="{% static '/site.webmanifest' %}" />
<link
	rel="mask-icon"
	href="{% static '/safari-pinned-tab.svg' %}"
	color="#5bbad5"
/>
<meta name="apple-mobile-web-app-title" content="Book Community" />
<meta name="application-name" content="Book Community" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#e3e1de" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	rel="stylesheet"
/>
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

	<!-- SEO -->
	<meta name="keywords" content="Book, books, reading, βιβλίο, βιβλία, διάβασμα, social media" />
	<meta name="description" content="Το κοινωνικό δίκτυο του βιβλίου..." />

	<meta property="og:url" content="https://book-community.com/" />
	<meta property="og:title" content="Book community" />
	<meta property="og:description" content="Το κοινωνικό δίκτυο του βιβλίου..." />
	<meta property="og:image" content="{% static '/favicons/favicon-32x32.png' %}" />
</head>

<body>
	<section class="heroImage">
		<div class="content container">
			<div class="textSection col-12 col-md-6">
				<div class="box">
					<div class="logo">
						<div class="img-container">
							{% include "icons/book.svg" %}
						</div>
						<div class="text-logo">
							<span>Book</span>
							<span>Community</span>
						</div>
					</div>

					<div class="clickNewsletterCnt">
						<a href="#newsletter"
							target="_blank" rel=”noreferrer noopener" class="mdc-button mdc-button--raised" style="padding: 1.5rem">
							Κάνε εγγραφή στο newsletter
						</a>
					</div>
				</div>
			</div>
			<div class="bookCoverCnt col-10 col-md-4">
				<div class="bookCover">
					<h1 class="book-title">Book Community</h1>
					<div class="book-subtitle">"Από βιβλιοφάγους για βιβλιοφάγους"</div>
					<div class="book-oldPenSvg">
					
							{% include "icons/oldPen.svg" %}

					</div>
					<div class="end">
						<div class="copyright">&copy 2022</div>
					</div>

				</div>
			</div>
		</div>



		<div class="arrow arrow-first"></div>
		<div class="arrow arrow-second"></div>
	</section>
	<section class="whatIsBookCommunity">
		<div class="container">
			<div class="title">Τι είναι το book community;</div>
			<div class="text">
				<p style="text-align: center;">
					Το book community είναι μια προσπάθεια, δημιουργίας κοινότητας, η οποία θα φέρει κοντά τα άτομα που
					τους αρέσει να διαβάζουνε, να συζητάνε και να ανταλλάζουνε ιδέες για τα βιβλία και τα συναισθήματα
					που τους δημιουργούν αυτά. Όλο αυτό θα επιτευχθεί μέσω, project και δράσεων που συνθέτουν στο book
					community, ευελπιστώντας να δημιουργηθεί μια μεγαλύτερη και πιο σταθερή κοινότητα βιβλίου.
				</p>
			</div>
		</div>
	</section>
	<section class="quoteCnt">
		<div class="title">
			"Τα βιβλία είναι σαν πολυσέλιδες επιστολές σε φίλους."
		</div>
		<div class="author">
			Ζαν-Πωλ Ριτέρ
		</div>
	</section>
	<section class="whatMakesBookCommunityDifferent">
		<div class="container">
			<div class="title">Project</div>
			<div class="cards">
				<a href="https://cafe.book-community.com/" class="card col-10 col-lg-3">
					<div class="img-container">
						<img src="https://i.pinimg.com/originals/95/f4/ba/95f4ba77af46b428baf755623d0854a0.jpg" />
					</div>
					<div class="details">
						<p class="title">
							Book Cafe
						</p>
						<div class="details">
							Το book cafe είναι εδώ για να σε βοηθήσει να βρεις
							καφετέριες και βιβλιοθήκες στις οποίες μπορείς να διαβάσεις για τη σχολή, για την δουλειά ή
							για ότι θέλεις εσύ.
						</div>
					</div>
				</a>
				<a href="https://blog.book-community.com/" class="card col-10 col-lg-3">
					<div class="img-container">
						<img
							src="https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJsb2clMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
					</div>
					<div class="details">
						<p class="title">
							Blog
						</p>
						<div class="details">
							Το blog, είναι ένα μέρος όπου εκφράζουμε τις σκέψεις και τα συναισθήματα μας. 
							Συζητάμε και προβληματιζόμαστε για διάφορα θέματα γύρω από το βιβλίο.
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="ourStory">
		<div class="container">
			<div class="title">
				Η ιστορία μας
			</div>
			<div class="text">
				<p>
					Στην εποχή που όλοι είμαστε κολλημένοι στα κινητά, κάθε φορά που μπαίνουμε στο μετρό, στο αστικό
					λεωφορείο, σε μια καφετέρια και βλέπουμε ανθρώπους να διαβάζουν ένα βιβλίο, νιώθουμε σαν να υπάρχει
					μια κοινή σύνδεση μεταξύ μας. Αυτό το ανακαλύπτουμε και σε συζητήσεις με άτομα που δεν γνωρίζουμε
					καλά καλά, και με τα οποία χανόμαστε σε συζητήσεις, χάνοντας την αίσθηση του χώρου και του χρόνου.
				</p>
				<p>
					Παρόλα αυτά συνειδητοποιήσαμε, πως απουσιάζει η κοινότητα βιβλίου στην Ελλάδα και αναρρωτηθήκαμε,
					γιατί συμβαίνει αυτό. Μέσα από συζητήσεις καταλάβαμε, πως έχουμε απομακρυνθεί από τους φυσικούς
					χώρους του βιβλίου (βιβλιοθήκες, βιβλιοπωλεία, book cafe) και έχουμε απομονωθεί -σαν αναγνώστες-
					αγοράζοντας με ένα κλιλ, εκφράζοντας κριτικές και συναισθήματα μόνο μέσω αστεριών και αριθμών
					χάνοντας την ανθρώπινη επαφή.
				</p>
				<p>
					Επίσης ως γενιά των social media, αντί να δημιουργηθεί μια διαδυκτιακή κοινότητα βιβλίου, όπου θα
					είναι ένας ελεύθερος χώρος έκφρασης σκέψεων και συναισθημάτων, έχει καταλήξει σε έναν χώρο προβολής
					και επίδειξης βιβλίων, σαν άλλο ένα προϊόν και όχι σαν μια ιδέα και γνώση που μπορεί να σου αλλάξει
					την ζωή.
				</p>
				<p>
					Έτσι το book community, μέσω των project και των δράσεων θα προσπαθήσει να φέρει κοντά όλα τα άτομα
					που νιώθουν πως υπάρχει η κοινή σύνδεση του βιβλίου -γιατί έχουν κάτι να πουν, να αισθανθούν ,να
					εκφράσουν και να μοιραστούν με τα άλλα άτομα-
				</p>
				<div class="author">
					Η ομάδα του <b>Book Community</b>
				</div>
			</div>

		</div>
	</section>
	<section id="newsletter" class="newsletter">
		<div class="container">
			<div class="title">
				Κάνε εγγραφή στο newsletter μας
			</div>
			<div class="subtitle">
				Για να μαθαίνεις την πορεία του project και ενδιαφέροντα θέματα γύρω από το βιβλίο!
			</div>

			<div id="newsletterProblem" style="display: none;">
				<p style="text-align: center;">Αποδεχτείτε τα cookies για να κάνετε εγγραφή στο newsletter</p>
				<button class="btnCookie" onclick="acceptCookies()">Αποδοχή cookies</button>
			</div>
			{% include "newsletter.html" %}
		</div>

	</section>
	<footer class="footer">
		<div class="container sameRow">
			<div class="copyright col-12 col-md-6">
				<span id="copyright">
					&copy 2022
				</span>

			</div>
			<div class="icons col-12 col-md-6">

				<a class="icon" href="https://github.com/Book-Community" target="_blank">
						{% include "icons/github.svg" %}
				</a>
			</div>
		</div>
	</footer>
	<div class="cookie-banner" style="display: none;">
		<p>
			Χρησιμοποιούμε cookies για την υπηρεσία του newsletter, για περισσότερα διάβασε την
			<a href="privacy-policy.html">πολιτική απορρήτου</a>
		</p>
		<div class="options">
			<button class="decline" onclick="closeCookieBanner()">Απόρριψη</button>
			<button class="accept" onclick="acceptCookies()">Αποδοχή</button>
		</div>

	</div>
	<script>
		var date = new Date;
		document.getElementById("copyright").innerHTML = "&copy; " + date.getFullYear();
		var cookieBanner = document.querySelector(".cookie-banner");
		var decline = document.querySelector(".decline");
		var accept = document.querySelector(".accept");
		var iframes = document.querySelectorAll("iframe");
		var newsletterProblem = document.querySelector("#newsletterProblem");

		if (localStorage.getItem('cookieSeen') != 'shown') {
			cookieBanner.style.display = "flex";
			newsletterProblem.style.display = "flex";
		} else {
			acceptCookies();
		}

		function closeCookieBanner() {
			cookieBanner.style.animation = "cookieHide 1s";
			setTimeout(() => {
				cookieBanner.style.display = "none";
			}, 1000)

		}

		function acceptCookies() {
			closeCookieBanner();
			newsletterProblem.style.display = "none";
			localStorage.setItem('cookieSeen', 'shown');
		}
	</script>
</body>

</html>